<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appz9001.boot.mapper.AppRoomYesterdayMapper">
    <resultMap id="BillInfoResultMap" type="com.appz9001.boot.dto.yesterday.BillInfoDto">
        <id column="SALE_SORT_ID" jdbcType="VARCHAR" property="saleSortId" />
        <id column="SALE_SORT" jdbcType="VARCHAR" property="saleSort" />
        <result column="_START" jdbcType="VARCHAR" property="start" />
        <result column="_END" jdbcType="VARCHAR" property="end" />
        <result column="_OCCU" jdbcType="VARCHAR" property="occu" />
        <result column="_SETTLE" jdbcType="VARCHAR" property="settle" />
    </resultMap>
    <resultMap id="RoomSortResultMap" type="com.appz9001.boot.dto.yesterday.RoomSortInfo">
        <id column="GUEST_SORT_ID" jdbcType="VARCHAR" property="guestSortId" />
        <id column="GUEST_SORT" jdbcType="VARCHAR" property="guestSort" />
        <result column="CI" jdbcType="VARCHAR" property="ci" />
        <result column="CO" jdbcType="VARCHAR" property="co" />
        <result column="C_START" jdbcType="VARCHAR" property="cStart" />
        <result column="C_END" jdbcType="VARCHAR" property="cEnd" />
    </resultMap>
    <select id="queryBill" parameterType="map" statementType="CALLABLE" resultMap="BillInfoResultMap">
        {
            call TQKF.USP_KF_REPORT_INCOME_BETWEEN(
                #{start,mode=IN,jdbcType=VARCHAR},
                #{end,mode=IN,jdbcType=VARCHAR}
                )
        }
    </select>

    <select id="querySaleInfo" parameterType="map" resultMap="RoomSortResultMap">
        {
            call TQKF.USP_KF_REPORT_MARCKET(
                #{start,mode=IN,jdbcType=VARCHAR},
                #{end,mode=IN,jdbcType=VARCHAR}
            )
        }
    </select>

    <select id="querySettleBill"  parameterType="map" resultType="com.appz9001.boot.dto.yesterday.SettleBillDto">
        select count(bill_id)  as billCount
        ,sum(ZERO_MONEY) as zeroMoney
        ,sum(INVOICE)  as invoice
        from  TQXY.T_XY_BILL t where t.STARTDATE = #{start,mode=IN,jdbcType=VARCHAR}
    </select>
</mapper>